<style>
    h1 {
        margin: 190px auto;
        color: forestgreen;
        font-size: 50px;
    }
    h4 {
        text-align: right;
        margin: 30px;
    }
</style>
@{
    ViewData["Title"] = "Success Page";
    @* <link rel="stylesheet" href="~/css/style.css"> *@
}
@model User

<div class="text-center">
    <h4><a href="/logout">Logout</a></h4>
    <h1>S U C C E S S</h1>
</div>